@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div>
    <h4>Delete role?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input type="hidden" asp-for="Id" class="form-control" aria-required="true" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="hidden" asp-for="Name" class="form-control" aria-required="true" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <a class="btn btn-primary" asp-action="Index">Cancel</a>
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</div>