@model Rentacar.BusinessModels.UserInfo.UserInfoCreateBusinessModel

<h4>UserInfoDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentificationTypeID" class="control-label"></label>
                <select asp-for="IdentificationTypeID" class="form-select">
                    <option value="0">Select Identification Type</option>
                    @foreach (var type in ViewBag.IdentificationDocumentTypeOptions)
                    {
                        <option value="@type.ID">@type.Value</option>
                    }
                </select>
                <span asp-validation-for="IdentificationTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationNumber" class="control-label"></label>
                <input asp-for="IdentificationNumber" class="form-control" />
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationImages" class="control-label"></label>
                <input asp-for="IdentificationImages" class="form-control" multiple />
                <span asp-validation-for="IdentificationImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressOfResidence" class="control-label"></label>
                <input asp-for="AddressOfResidence" class="form-control" />
                <span asp-validation-for="AddressOfResidence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

