@model Rentacar.BusinessModels.CarModel.CarModelEditBusinessModel

<h4>CarModelEditBusinessModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerID" class="control-label"></label>
                <select class="form-select" asp-for="ManufacturerID">
                    <option value="0">Select Manufacturer</option>
                    @foreach (var manufacturer in ViewBag.ManufacturerOptions)
                    {
                        <option value="@manufacturer.ID">@manufacturer.Name</option>
                    }
                </select>
                <span asp-validation-for="ManufacturerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

