@model IEnumerable<Rentacar.BusinessModels.Car.CarDetailsBusinessModel>

@foreach (var car in Model)
{
    <div class="card" style="width: 18rem;">
        @await Html.PartialAsync("_ImageCarousel", car.Images)
        <div class="card-body">
            <p>@car.CodeName</p>
            <button class="btn btn-primary reservationCreateCarSelect" value="@car.ID">Select</button>
        </div>
    </div>
}