@model Rentacar.BusinessModels.Reservation.ReservationEditBusinessModel

@{
    IEnumerable<Rentacar.BusinessModels.Car.CarDetailsBusinessModel> availableCars = ViewBag.AvailableCars;

}

<h4>ReservationDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="UserInfoID" />
            <input id="carIDHiddenInput" type="hidden" asp-for="CarID" />
        </form>
    </div>
</div>

<div id="availableCarsContainer" class="container justify-content-center d-flex flex-wrap">
    @await Html.PartialAsync("_FindAvailableCars", availableCars)
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Modal Dialog -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button id="modalConfirm" type="button" class="btn">...</button>
            </div>
        </div>
    </div>
</div>
