<div class="container">
    <p>
        In order to reserve a car you will need to input a valid form of identification 
        which will be used to confirm your identity at the physical service location, 
        then you will be able to select the start and end dates of the time period 
        during which you want a car to be rented to you, then you will be shown the cars 
        which are available for that time period. Once you select a car from the list, 
        you will be asked to provide a payment method.
    </p>
    @if (!(Context.User.Identity.IsAuthenticated) || Context.User.Identity.IsAuthenticated == null)
    {
        <p>
            You do not need to be logged into an account to reserve a car however 
            being logged in will allow Rentacar™ to remember your credentials for
            the next time you want to use our service.
        </p>
    }
    <a class="btn btn-primary" asp-controller="UserInfo" asp-action="Index">Continue</a>
</div>